<div class = "well col-xs-8 col-xs-offset-2">
  <div>
    <%= gravatar_for(@article.user, size: 40) if @article.user%>
    <div class = "article-description" style = "margin-top:5px">
      Contributed by: <strong><%= @article.user.username if @article.user %></strong>
    </div>
  </div>
  <div class = "article-title" style = "margin-top:15px">
    <%= @article.title %>
  </div>
  <div class = "article-description" style = "margin-top:5px">
    <%= simple_format(@article.description)%></br>
  </div>
  <div class = "article-actions">
    <%= link_to 'Back to articles listing', articles_path, class: "btn btn-sm btn-primary"%>
    <%= link_to 'Delete this article', 
      article_path(@article), 
      method: :delete, 
      data: {confirm: "Are you sure?"}, 
      class: 'btn btn-sm btn-danger'%>
    <%= link_to 'Edit this article', edit_article_path(@article), class: "btn btn-sm btn-success"%>
  </div>
</div>

