<div class = "row">
  <div class = "col-xs-12">
    <%= form_for(@user, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">Username</label>
        <div class="col-sm-6">
          <%= f.text_field :username, class: 'form-control', placeholder: "Username", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">Email</label>
        <div class="col-sm-6">
          <%= f.email_field :email, class: 'form-control', placeholder: "Email"%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">Password</label>
        <div class="col-sm-6">
          <%= f.password_field :password, class: 'form-control', placeholder: "Password"%>
        </div>
      </div>
      <div class="form-group">
        <dig class="col-sm-6 col-sm-offset-3">
          <%= f.submit button_label, class: "btn btn-primary btn-large" %>
        </div>
      </div>
    <% end %>  
  </div>
</div>