<h3 align = "center" style="margin-bottom:25px">Meet the Alpha Bloggers</h3>

<div class='row' align='center'>
  <div class='col-xs-8 col-xs-offset-2'>
  <% i = 0 %>
  <% while i < @users.size %>
    <div class="col-xs-4 col-md-4">
      <% user = @users[i] %>
      <a class="thumbnail" style="padding-top:10px">
        <div class="user-username" style="padding-bottom:10px">
          @<%=user.username%>
        </div>
        <%=gravatar_for(user)%>
        <div class='user-contributions'>
          Contributed <%= pluralize(user.articles.size, "Article")%>
        </div>
      </a>
    </div>
    <% if @users[i + 1] %>
      <div class="col-xs-4 col-md-4">
        <% user1 = @users[i + 1] %>
        <a class="thumbnail" style="padding-top:10px">
          <div class="user-username" style="padding-bottom:10px">
            @<%=user1.username%>
          </div>
          <%=gravatar_for(user1)%>
          <div class='user-contributions'>
            Contributed <%= pluralize(user1.articles.size, "Article")%>
          </div>
        </a>
      </div>
    <% end %>
    <% if @users[i + 2] %>
      <div class="col-xs-4 col-md-4">
        <% user2 = @users[i + 2] %>
        <a class="thumbnail" style="padding-top:10px">
          <div class="user-username" style="padding-bottom:10px">
            @<%=user2.username%>
          </div>
          <%=gravatar_for(user2)%>
          <div class='user-contributions'>
            Contributed <%= pluralize(user2.articles.size, "Article")%>
          </div>
        </a>
      </div>
    <% end %>
    <%i += 3 %>
  <% end %>
  </div>
</div>


